@use '../../assets/styles/abstract' as *;

.primary-button {
  @include button-style;
  font-weight: $font-weight-medium;
  border-radius: 8px;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: $color-white;
  }

  .label {
    display: inline-block;
  }
}