@use '../../assets/styles/abstract' as *;

.secondary-button {
  @include button-style;
  background-color: transparent;
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 8px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}