@use '../../assets/styles/abstract' as *;

.app-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    background-color: $color-primary;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    @include flex-align-left;

    .logo {
        @include text-style-base;
        width: auto;
        height: auto;
        padding: 0;
        margin-left: 0;
    }
}
