@use './abstract' as *;

body {
    background-image: url('../../assets/img/BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: $font-primary;
}
