// Colors
$color-white: #ffffff;
$color-primary: #000000;

// Typography
$font-family-main: 'Montserrat', sans-serif;
$font-weight-semi-bold: 600;
$font-size-16: 16px;
$line-height-16: 22px;
$letter-spacing-normal: 0%;